<div class="modal" id="error-modal">
    <div class="modal-dialog modal-dialog-centered text-center" role="document">
        <div class="modal-content tx-size-sm">
            <div class="modal-body text-center p-4">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
                <i class="fe fe-x-circle fs-100 text-danger lh-1 mb-5 d-inline-block"></i>
                <h4 class="text-danger">Error: No es posible procesar la solicitud!</h4>
                <p id="body-error-modal" class="mb-4 mx-4"></p>
                <button class="btn btn-danger pd-x-25" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>