<!-- modal para los success -->
<div class="modal" id="success-modal">
    <div class="modal-dialog modal-dialog-centered text-center " role="document">
        <div class="modal-content tx-size-sm">
            <div class="modal-body text-center p-4">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
                <i class="fe fe-check-circle fs-100 text-success lh-1 mb-5 d-inline-block"></i>
                <h4 class="text-success mb-4">Transacción exitosa!</h4>
                <p id="body-success-modal" class="mb-4 mx-4"></p>
                <button class="btn btn-success pd-x-25" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<!-- modal para los errores -->
<div class="modal" id="error-modal">
    <div class="modal-dialog modal-dialog-centered text-center " role="document">
        <div class="modal-content tx-size-sm">
            <div class="modal-body text-center p-4">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
                <i class="fe fe-x-circle fs-100 text-danger lh-1 mb-4 d-inline-block"></i>
                <h4 class="text-danger mb-4">Error!</h4>
                <p id="body-error-modal" class="mb-4 mx-4"></p>
                <button class="btn btn-danger pd-x-25" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>